<% @page_title = 'Delete Publisher' %>
<h2><%= @page_title %></h2>
<% form_for(:developer, :url => {:action => 'destroy', :id => @publisher.id}) do |f| %>
    <p>Are you sure you want to permanently delete the <%= @publisher.publisher %> publisher?</p>
    <table>
        <tr><td><span class="title">Publisher: </span></td><td><%= @publisher.publisher %></td></tr>
        <tr><td><span class="title">Image: </span></td><td><%= @publisher.image_path %></td></tr>
    </table>
    <%= submit_tag("Delete Publisher") %> | <%= link_to('Back', {:action => 'list'}) %>

<% end %>
