<% @page_title = 'Order: ' + @order.invoice_number.to_s %>
<table>
  <tr>
    <td><span class="title">Order: </span></td><td><%= @order.invoice_number %></td>
  </tr>
  <tr>
    <td><span class="title">Customer: </span></td><td><%= @order.customer.first_name+' '+@order.customer.last_name %></td>
  </tr>
  <tr>
    <td><span class="title">Created On:</span></td><td><%= @order.created_at %></td>
  </tr>
  <tr>
    <td><span class="title">Modified On: </span></td><td><%= @order.updated_at %></td>
  </tr>
</table>
    <%= link_to('Edit', {:action => 'edit', :id => @order.id}, {:class => 'back-button'}) %> | <%= link_to('Back', {:action => 'list'}, {:class => 'back-button'}) %>